.landingBody {
    display: flex;
    justify-content: space-between;
}

.landingContent {
    padding-left: clamp(1rem, 6vw, 10rem);
    padding-top: 6rem;
}

.landingContent > h1 {
    font-size: 5rem;
    margin-bottom: 3rem;
    line-height: 1.2;
}

.landingContent > p {
    color: hsl(0, 0%, 41%);
    line-height: 1.6;
    font-size: 1.2rem;
    margin-bottom: 3rem;
}

.landingContent > button {
    background-color: hsl(0, 0%, 8%);
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 1rem 1.7rem;
    border: none;
    border-radius: 13px;
    border: solid 1px black;
    cursor: pointer;
    transition: 200ms;
}

.landingContent > button:hover {
    background-color: transparent;
    color: black;
}

.iconCollection {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 7rem;
}

.landingBody > img {
    height: 41rem;
    width: 30rem;
    margin-top: 5rem;
    margin-right: 10rem;
    margin-left: 5rem;
}

.mobileImage {
    width: 100%;
    display: none;
}

@media (max-width: 1021px) {
    .break {
        display: none;
    }

    .landingBody > img {
        display: none;
    }

    .mobileImage {
        display: block;
    }
    

    .landingContent {
        width: 100%;
        padding-left: 0px;
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .landingContent > h1 {
        text-align: center;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
        font-size: 4rem;
    }

    .landingContent > p {
        text-align: center;
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

    .iconCollection{
        width: 100%;
        justify-content: space-around;
        margin-left: 2rem;
        margin-right: 2rem;
    }
}