.navBar {
    color: hsl(0, 0%, 41%);
    height: 3rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;
    margin: 1.6rem 2.6rem 1rem 2.6rem;
}


.navBar > ul {
    display: flex;
    justify-content: center;
    gap: 3rem;
    padding: 0px;
    margin: 0px;
    margin-left: 3.5rem;
}

.navBar > ul > li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.7rem;
    transition: 200ms;
    cursor: pointer;
    position: relative;
}

.navBar > ul > li:hover {
    color: hsl(0, 0%, 8%);
}


.sideBtns {
    display: flex;
    align-self: flex-start;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    gap: 2rem;
    height: 100%;
}

.loginBtn {
    border: none;
    color: hsl(0, 0%, 41%);
    background-color: transparent;
    font-size: 1.2rem;
    transition: 200ms;
    cursor: pointer;
}

.loginBtn:hover {
    color: hsl(0, 0%, 8%);
}

.registerBtn {
    align-self: flex-start;
    border: solid 2px hsl(0, 0%, 41%);
    color: hsl(0, 0%, 41%);
    border-radius: 1rem;
    font-size: 1rem;
    padding: 0.7rem 1.6rem;
    background-color: transparent;
    cursor: pointer;
    transition: 200ms;
}

.registerBtn:hover {
    color: hsl(0, 0%, 8%);
    border: solid 2px hsl(0, 0%, 8%);
}

.dropDown {
    background-color: white;
    box-shadow: 1px 1px 50px 1px #e6e6e6;
    position: absolute;
    top: 200%;
    padding: 1.2rem;
    border-radius: 12px;
}

.DDList {
    color: hsl(0, 0%, 41%);
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    gap: 1rem;
    width: max-content;
}

.DDList > li {
    list-style: none;
    padding: 0px;
    margin: 0px;
    width: 100%;
    transition: 200ms;
}

.DDList > li:hover {
    color: hsl(0, 0%, 8%);
}

.DDList > li > img {
    margin-right: 1rem;
}

.hamburgerButton {
    background-color: transparent;
    border: none;
    margin-left: auto;
    display: none;
}

.hamburgerButton > img {
    height: 1.4rem;
}

.hamburgerContainer {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start !important;
    align-items: flex-start;
    gap: 2rem !important;
    position: absolute;
    top: 0%;
    right: 0;
    height: 100vh;
    width: clamp(4rem, 55vw, 20rem);
    background-color: white;
    padding: 2rem 2rem !important;
}

.hamburgerContainer > li {
    display: flex !important;
    justify-content: flex-start !important;
    width: 100%;
}

.hamburgerContainer > .closeIcon {
    justify-content: flex-end !important;
}

.hamburgerContainer > .centerButton {
    justify-content: center !important;
}

.rotatetrue > svg {
    transform: rotate(180deg);
}

@media (max-width: 920px) {
    .hamburgerButton {
        display: block;
    }
    .sideBtns {
        display: none;
    }

    .navBar > ul {
        display: none;
    }

    .DDList {
        padding-left: 10%;
    }
    
    .DDList > li {
        cursor: pointer;
    }

    .loginBtn {
        margin-top: 2rem;
        margin-bottom: -15px;
    }

    .registerBtn {
        width: 100%;
    }
}

