@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap');


body {
    margin: 0px;
    padding: 0px;
    font-family: 'Epilogue', sans-serif;
}

.all {
    overflow-x: hidden;
}